header{
    width: 100%;
    height: 200px;
    background: url('https://img.freepik.com/free-vector/digital-rupee-technology-background-design_1017-36659.jpg?size=626&ext=jpg&ga=GA1.1.1709189956.1685288874&semt=ais=');
}