.img{
    width: 200px;
    height: 350px;
}
.heading{
    font-size: 60px;
}
.card-body{
    position: absolute;
    background-color: aliceblue;
    opacity: 0.9;
    width: 18rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: .2s ease;
}
.card:hover .card-body{
    visibility: visible;
}
